.body{
    background:black;
width: 100%;
height: 100%;;
}

.heading{
    position: fixed;
    padding: 0.5rem;
   
    margin:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 0px;
}

.redcircle{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50px;
    background: transparent;
    border: 1pt solid black;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.redcircle:hover{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50px;
    background: transparent;
    border: 3pt solid red;
    color:red;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.bluecircle{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50px;
    background: transparent;
    border: 1pt solid black;
  width: 40rem;
  height: 20rem;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.bluecircle:hover{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50px;
    background: transparent;
    border: 3pt solid blue;
    color:blue;
  width: 40rem;
  height: 20rem;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.yellowcircle{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50px;
    background: transparent;
    border: 1pt solid black;
  width: 20rem;
  height: 20rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.yellowcircle:hover{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50px;
    background: transparent;
    border: 3pt solid yellow;
    color:yellow;
  width: 20rem;
  height: 20rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}